html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

body {
  width: 100%;
}

#top-bar {
  height: 150px;
  background-color: #e00032;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  float: none;
}

.logo {
  font-family: 'Titan One';
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding: 28px;
  font-size: 64px;
}

#header-elements {
  margin: 0 auto;
  max-width: 960px;
  display: block;
  float: none;
}

#searchBox {
  margin: 0 auto;
  max-width: 720px;
  display: block;
  float: none;
}

#search {
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 0px 10px;
  border: none;
  color: #7f8c8d;
  box-shadow: 0px 5px 10px #7f8c8d;
  display: inline;
  background-color: #ffffff
}

#add-button, #settings-button {
  background-color: #03a9f4;
  box-shadow: 0px 5px 10px #7f8c8d;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #ffffff;
  padding: 3px;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -35px;
  margin-right: 20px;
  transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
}

#add-button img, #settings-button img {
  height: 20px;
  margin: 5px;
}

#add-box, #settings-box {
  display: none
}

.searchResult:nth-child(2n) {
    background-color: #EDEDED
}

.searchResult {
  width: 100%;
  padding: 15px 20px;
  color: #2c3e50;
  font-family: 'Roboto';
}

.searchResult > div {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  float:none;
}

.searchResult h2 {
  font-weight: bold;
}

.searchResult span {
  padding-right: 10px;
}

.searchResult:hover {
  cursor: pointer;
}

#main-content {
  margin-top: 40px;
}

.tiles {
  margin: auto;
  display: block;
  float: none;
}

.plugin {
  background-color: #e00032;
  width: 290px;/*
  min-height: 290px;*/
  margin: 15px;
  float: left;
  color: #ffffff;
  font-family: 'Roboto';
  box-shadow: 0px 5px 15px #7f8c8d;
}

@media (max-width:900px) {
  #top-bar {
    height: 200px;
  }

  .logo {
    font-size: 56px;
    margin-bottom: 5px;
  }

  #add-button, #settings-button {
    display: none;
  }

  #searchBox {
    margin: 0 auto;
    max-width: 720px;
    display: block;
    float: none;
  }

  #search {
    margin-top: 15px;
    width: 100%;
  }

  #buttonBoxes {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }

  #add-box, #settings-box {
    background-color: #03a9f4;
    color: #ffffff;
    width: 110px;
    height: 50px;
    float: none;
    margin: -20px 10px 0px 10px;
    transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    display: inline-block;
  }

  #add-box img, #settings-box img {
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    float: none;
  }
}
#tileBound {
	margin: auto;
}
