html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

input:focus, textarea:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

#top-bar {
  height: 150px;
  background-color: #e00032;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  float: none;
}

.logo {
  font-family: 'Titan One' sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding: 28px;
  font-size: 64px;
}

#header-elements {
  margin: 0 auto;
  max-width: 960px;
  display: block;
  float: none;
}

#searchBox {
  margin: 0 auto;
  max-width: 720px;
  display: block;
  float: none;
}

#search {
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-family: 'Roboto' sans-serif;
  padding: 0px 10px;
  border: none;
  color: #7f8c8d;
  box-shadow: 0px 2px 3px #7f8c8d;
  display: inline;
  background-color: #ffffff;
  transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -webkit-transition: box-shadow .2s;
}

#add-button, #settings-button {
  background-color: #03a9f4;
  box-shadow: 0px 2px 3px #7f8c8d;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #ffffff;
  padding: 3px;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -35px;
  margin-right: 20px;
  transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
}

#add-button:hover, #settings-button:hover {
  cursor: pointer;
}

#add-button img, #settings-button img {
  height: 20px;
  margin: 5px;
}


#add, #settings {
  display: none;
}

.lightbox {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.lightbox:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: auto;
  height: auto;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.addHeading {
  font-family: 'Roboto';
  font-weight: normal;
  padding: 5px;
  text-align: center
}

.content input, .content textarea {
  display: block;
}

#eventDescription {
   resize: none;
}

#addClose, #settingsClose {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  margin: -35px;
  background-color: #ffffff;
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-family: 'Roboto';
  text-align: center;
  font-size: 24px;
  border: solid 5px #000000;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

#addClose:hover, #settingsClose:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

#add-box, #settings-box {
  display: none
}

.searchResult:nth-child(2n) {
  background-color: #EDEDED
}

.searchResult {
  width: 100%;
  padding: 15px 20px;
  color: #2c3e50;
  font-family: 'Roboto' sans-serif;
}

.searchResult > div {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  float:none;
}

.searchResult h2 {
  font-weight: bold;
}

.searchResult span {
  padding-right: 10px;
}

.searchResult:hover {
  cursor: pointer;
}

#main-content {
  margin-top: 30px;
}

.tiles {
  margin: auto;
  display: block;
  float: none;
  max-width: 960px !important;
  width: 100% !important;
}

.gridster {
  margin: 0 auto;
  transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
}

.gridster .gs-w {
  box-shadow: 0px 2px 10px #7f8c8d;
}

.gridster .player {
  box-shadow: 0px 10px 20px #7f8c8d;
}

.gridster .preview-holder {
    margin: 15px 0px 0px 15px;
}

.plugin {
  background-color: #e00032;
  width: 290px;
  margin: 15px;
  float: left;
  color: #ffffff;
  font-family: 'Roboto' sans-serif;
  box-shadow: 0px 2px 10px #7f8c8d;
  cursor: pointer;
}

.plugin h1,
.plugin h2,
.plugin h3,
.plugin h4,
.plugin h5,
.plugin h6,
.plugin p {
  padding: 5px;
}

header {
  padding: 10px;
}

header span {
	padding-right: 5px;
  float: right;
}

@media (max-width:900px) {
  #top-bar {
    height: 200px;
  }

  .logo {
    font-size: 56px;
    margin-bottom: 5px;
  }

  #add-button, #settings-button {
    display: none;
  }

  #searchBox {
    margin: 0 auto;
    max-width: 720px;
    display: block;
    float: none;
  }

  #search {
    margin-top: 15px;
    width: 100%;
  }

  #buttonBoxes {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }

  #add-box, #settings-box {
    background-color: #03a9f4;
    color: #ffffff;
    width: 110px;
    height: 50px;
    float: none;
    margin: -20px 10px 0px 10px;
    transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    display: inline-block;
  }

  #add-box img, #settings-box img {
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    float: none;
  }
}
