html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

input:focus, textarea:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

#top-bar {
  height: 150px;
  background-color: #e00032;
}

.logo {
  font-family: 'Titan One', sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding: 28px;
  font-size: 64px;
}

#header-elements {
  margin: 0 auto;
  display: block;
  float: none;
  max-width: 800px;
}

#searchBox, .search-items {
  max-width: 640px;
  width: 100%;
}

#searchBox {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px #7f8c8d;
}

.search-items {
  box-shadow: 0px 2px 3px #7f8c8d;
  position: relative;
  z-index: 1000;
}

#search {
  width: 99%;
  height: 35px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: #7f8c8d;
  transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -webkit-transition: box-shadow .2s;
}

.searchResult {
  width: 100%;
  padding: 15px 0px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  text-align: center;
}

.searchResult:hover {
  background-color: #efefef;
}

.searchResult h2 {
  font-weight: bold;
}

.searchResult span {
  padding-right: 10px;
}

.searchResult:hover {
  cursor: pointer;
}

#buttons {
  display: inline;
  width: auto;
  height: auto;
}

#add-button, #settings-button {
  background-color: #03a9f4;
  box-shadow: 0px 2px 3px #7f8c8d;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #ffffff;
  padding: 3px;
  width: 30px;
  height: 30px;
  float: right;
  margin-left: 20px;
  transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
}

#add-button:hover, #settings-button:hover {
  cursor: pointer;
}

#add-button img, #settings-button img {
  height: 20px;
  margin: 5px;
}

#add, #settings {
  display: none;
}

.lightbox {
  background-color: rgba(3, 3, 3, 0.8);
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.lightbox:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#addClose, #settingsClose {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  font-size: 75px;
  font-family: 'HelveticaNeue-UltraLight', sans-serif;
  text-align: center;
}

#addClose:hover, #settingsClose:hover {
  cursor: pointer;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  width: auto;
  height: auto;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.addHeading {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 0px 0px 15px 0px;
}

.content input, .content textarea {
  margin-bottom: 10px;
}

.content label {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 25px;
  display: block;
}

#eventName {
  width: 500px;
  height: 30px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: dotted 1px #bdc3c7;
  color: #333333;
  display: block;
}

.URLcontainer {
  position: relative;
}

.URLcontainer span {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  display: block;
  top: 5px;
}

#eventURL {
  height: 30px;
  width: 365px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 135px;
  border-bottom: dotted 1px #bdc3c7;
  color: #333333;
  display: block;
}

::-webkit-input-placeholder {
   font-weight: normal;
}

:-moz-placeholder {
   font-weight: normal;
}

::-moz-placeholder {
   font-weight: normal;
}

:-ms-input-placeholder {
   font-weight: normal;
}

#eventDescription {
   resize: none;
   width: 500px;
   height: 125px;
   font-size: 16px;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: dotted 1px #bdc3c7;
   color: #333333;
   display: block;
}

#nameLabel, #descriptionLabel {
  display: inline;
}

.descRemaining, .nameRemaining {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  display: inline;
}

.startDate, .endDate {
  display: inline-block;
  margin-right: 20px;
}

#eventDate {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: dotted 1px #bdc3c7;
  font-family: sans-serif;
  font-size: 14px;
}

#eventTime {
  display: inline-block;
  margin-left: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: dotted 1px #bdc3c7;
  font-family: sans-serif;
  font-size: 14px;
}

#eventName, #eventURL, #eventDescription, #eventDate, #eventTime {
  transition: border .25s;
  -moz-transition: border .25s;
  -webkit-transition: border .25s;
}

#eventName:focus, #eventURL:focus, #eventDescription:focus, #eventDate:focus, #eventTime:focus {
  border-color: #e00032;
}

#imageLabel {
  display: block;
}

#imageInput {
  display: none;
}

.imagePath {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  line-height: 30px;
}

#imageButton {
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 30px;
  border: #999999 solid 1px;
  background: rgb(232, 232, 232);
  background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -o-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -ms-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  outline: none;
}

#imageButton:hover {
  border: #333333 solid 1px;
}

#colorPicker {
  float: left;
  margin-right: 20px;
  display: block;
  margin-top: 45px;
}

#color1, #color2 {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#eventSubmit {
  text-align: center;
  color: #ffffff;
  background-color: rgb(200,0,0);
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
  margin-top: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  clear: both;
}

#eventSubmit:hover {
  cursor: pointer;
}

#main-content {
  margin-top: 30px;
}

.container {
  position: relative;
  max-width: 930px;
  margin: auto;
}

.plugin {
  height: 290px;
  position: absolute;
  background-color: #e00032;
  width: 290px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 2px 10px #7f8c8d;
  float: left;
}

header {
  padding: 10px;
  height: 20px;
  cursor: pointer;
}

header span {
	padding-right: 5px;
  float: right;
}

#alphaBar {
  background-color: #e00032;
  color: #ffffff;
  font-family: 'Roboto';
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  font-size: 14px;
}

#alphaBar p {
  display: inline;
  font-weight: 100;
}

#alphaBar a {
  color: #ffffff;
  display: block;
  font-weight: 900;
}

#alphaBar a:hover {
  opacity: 0.8;
}

.version {
  font-weight: 900;
}

.styledList {
  overflow-y: scroll;
  overflow-x:  hidden;
  height: 290px;
  width: 100%;
  padding-bottom: 10px;
}

.styledList li {
   padding: 10px;
   color: #000000;
 }

.styledList a {
  color: rgb(189, 189, 189);
}

.styledList li:nth-child(2n) {
    background-color: #efefef;
}

.styledList li:nth-child(2n-1) {
    background-color: #ffffff;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  margin: 130px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
